{{> head}}

{{> navbar}}

<div class="row">


    <div class="col-8">
        <h1>My about</h1>
    </div>

    <div class="col-4">
        <img src="../public/assets/img/Koala.jpg" class="img-thumbnail">  
        <img src="assets/img/koala.jpg" class="img-thumbnail">
    </div>
</div>




{{> footer}}